{% extends "Menu.html" %}
{% block title %}Add Plant{% endblock %}
{% block content %}
    <br>
  <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center">
  <p class="important">
      <br>
      <br>

    Hello there! We are ready to set up your device. Firstly, we need you to add your new's plant name which you'll configure later on.

      <div class="col-xl-5 col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
     <img class="img-thumbnail" alt="..." src="/static/images/plant.jpg" >
      </div>

<br>
      <br>
<br>
  <form action="#" method="post">
           <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label"><h2>Name: </h2></label>
    <div class="col-sm-10">
      <input class="form-control form-control-lg" type="text" placeholder="type.." id="inputName" name="inputName">
        <br>
      <br>
        <input type="submit" class="btn btn-info mb-2 btn-lg">
    </div>
  </div>


</form>
  </div>

{% endblock %}