{% extends "Menu.html" %}
{% block title %}Report{% endblock %}

{% block content %}
    <br>



  <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center text-center"><h1>Your plant's current status is right here!</h1>
  <div class="important">

<br><br>
          <div class="text-center"><h2>Current Humidity:</h2></div>
<br>

      <table class="table table-warning text-white">
  <thead>
    <tr>
      <th scope="col">SOIL</th>
        <th scope="col">SOIL-PERCENT</th>
      <th scope="col">AIR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{hum_soil}}</th>
        <td>{{hum_percent}}%</td>
      <td>{{hum_air}}</td>
    </tr>
  </tbody>
</table>

      <br>

    <div class="text-center"><h2>Current Temperature:</h2></div>

      <br>

      <table class="table table-warning text-white">
  <thead>
    <tr>
      <th scope="col">HEATH INDEX</th>
      <th scope="col">AIR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{t_soil}}</th>
      <td>{{t_air}}</td>
    </tr>
  </tbody>
</table>
  </div>
  </div>
{% endblock %}